.additional-product {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 1px;

    background-color: #ebebeb;

    content: "";
  }

  &:last-child::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -18px;

    width: 100%;
    height: 1px;

    background-color: #ebebeb;

    content: "";
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 50% 50%;

    border: 1px solid #ebebeb;

    &:not(:last-child) {
      border-bottom: none;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    border: none;

    &::before,
    &::after {
      display: block;
    }

    &:last-child::after {
      bottom: 0;
    }
  }
}

.additional-product__title {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 1px;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
    margin-left: 0;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.additional-product__description {
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    justify-self: end;

    width: 225px;
    margin-top: 3px;
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 288px;
    margin-bottom: 0;
  }
}

.additional-product__list {
  display: grid;
  grid-template-columns: 140px 140px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;

  @media (min-width: @tablet-width) {
    grid-template-columns: 135px 90px;
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-product__term {
  justify-self: start;

  @media (min-width: @tablet-width) {
    justify-self: end;

    margin-right: 2px;
  }
}

.additional-product__definition {
  justify-self: end;
  margin: 0;

  @media (min-width: @tablet-width) {
    justify-self: end;
  }
}

.additional-product__button {
  padding: 10px 0 10px 0;
  font-size: 16px;
  line-height: 20px;

  border: none;

  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3 / 4;
    justify-self: end;

    width: 244px;
  }
}
