.base-title {
  padding: 0;
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 60px;
    line-height: 60px;
  }
}

.base-title--index-header-mobile {
  text-align: center;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
  }
}

.base-title--index-mobile {
  line-height: 40px;

  @media (min-width: @tablet-width) {
    line-height: 60px;
  }
}

.base-title--catalog {
  position: relative;
  margin-bottom: 41px;

  &:after {
    position: absolute;
    bottom: -41px;
    left: -20px;
    right: 0;

    width: 320px;
    height: 1px;

    background-color: #ebebeb;

    content: "";
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 82px;

    &::after {
      display: none;
    }
  }
}

.base-title--form {
  padding-top: 27px;
}

.base-title--inner {
  font-size: 24px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.base-title--inner-catalog {
  font-size: 24px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}
