.base-title {
  padding: 0;
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}

.base-title--index-header-mobile {
  text-align: center;
  color: #ffffff;
}

.base-title--index-mobile {
  line-height: 40px;
}

.base-title--catalog {
  padding-top: 27px;
  margin-bottom: 41px;
}

.base-title--form {
  padding-top: 27px;
}

.base-title--inner {
  font-size: 24px;
  line-height: 26px;
}

.base-title--inner-catalog {
  font-size: 24px;
  line-height: 24px;
}
