.button {
  display: flex;
  justify-content: center;

  padding: 7px 44px;
  box-sizing: border-box;
  width: 100%;

  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: @green;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: fade(#ffffff, 30%);
  }
}

.button--index {
  width: 100%;
  padding: 11px 44px;

  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    width: 244px;
    padding: 17px 26px;

    font-size: 20px;
    line-height: 20px;
  }
}

.button--catalog {

  // max-width: 100%;
  @media (min-width: @tablet-width) {
    width: 248px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}

.button--form {
  @media (min-width: @tablet-width) {
    width: 282px;
    padding: 13px 45px;

    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.button--more {
  color: #444444;

  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: fade(#444444, 30%);
  }

  @media (min-width: @tablet-width) {
    width: 248px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}
