.button {
  display: flex;
  justify-content: center;

  padding: 7px 44px;
  box-sizing: border-box;
  width: 100%;

  font-family: "Oswald";
  color: #ffffff;
  text-transform: uppercase;

  background-color: #68b738;
}

&--more {
  color: #444444;

  background-color: #f2f2f2;
}
