.copyright {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 22px;

  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 163px;
    padding: 0;
    margin-bottom: 0;
  }
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-decoration: none;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    width: 163px;
  }

  &:hover {
    .copyright__icon {
      fill: @green;
    }
  }

  &:active {
    opacity: 30%;
  }
}

.copyright__text {
  display: block;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;

  @media (min-width: @tablet-width) {
    margin-top: -2px;
    margin-right: 0;
    margin-left: -1px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-left: 0;
  }
}

.copyright__icon {
  display: block;
  fill: #666666;

  @media (min-width: @tablet-width) {
    margin-right: 1px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
    margin-top: 2px;
  }
}
