.form-data {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  border: none;
}

// .form-data__legend {}

.form-data__title {
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
}

// .form-data__list {}

// .form-data__item {}

.form-data__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.form-data__text--radiobutton {
  color: #222222;
}

.form-data__text--checkbox {
  color: #000000;
}

// .form-data__label {}

.form-data__field {
  border: 1px solid #e7e7e7;
}

.form-data__field--comment {
  margin: 0;
  padding: 9px 12px;
  width: 100%;
  box-sizing: border-box;
}

// .form-data__radiobutton {}

// .form-data__checkbox {}
