.form-program-select {
  margin-bottom: 32px;
}

.form-program-select__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.form-program-select__text--radiobutton {
  color: #222222;
}

.form-program-select__text--checkbox {
  color: #000000;
}

.form-program-select__title {
  margin-bottom: 36px;
}

.form-program-select__comment {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  border: none;
}

.form-program-select__comment-field {
  margin: 0;
  padding: 9px 12px;
  width: 100%;
  box-sizing: border-box;


  border: 1px solid #e7e7e7;
}

.form-program-select__button {
  margin-bottom: 21px;
}

.form-program-select__note {
  display: block;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
