.form-program-select {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    width: 630px;
    margin: 0 auto;
    margin-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: 0;
    margin-bottom: 82px;
  }
}

.form-program-select__top-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.form-program-select__bottom-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }
}

.form-program-select__title {
  position: relative;

  max-width: 190px;

  &::after {
    position: absolute;
    top: 60%;
    right: -180px;

    width: 158px;
    height: 2px;

    background-color: @green;

    content: "";
  }

  @media (min-width: @tablet-width) {
    &::before {
      position: absolute;
      top: 60%;
      left: -71px;

      width: 30px;
      height: 2px;

      background-color: @green;

      content: "";
    }

    &::after {
      top: 60%;
      right: -517px;

      width: 478px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      left: -112px;

      width: 70px;
    }

    &::after {
      right: -1150px;

      width: 1108px;
    }
  }
}

.form-program-select__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-program-select__text--radiobutton {
  color: #222222;
}

.form-program-select__text--checkbox {
  color: #000000;
}

.form-program-select__comment {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  border: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.form-program-select__comment-legend {
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
  }
}

.form-program-select__comment-field {
  margin: 0;
  padding: 9px 12px;
  width: 100%;
  height: 174px;
  box-sizing: border-box;

  border: 1px solid #e7e7e7;

  outline: none;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: #444444;
  }

  @media (min-width: @tablet-width) {
    padding: 10px 19px;
  }
}

.form-program-select__button {
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    margin-right: 62px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 81px;
  }
}

.form-program-select__note {
  display: block;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}
