// .main-product {}

// .main-product__image {}

.main-product__title {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}

// .main-product__description {}

.main-product__list {
  width: 142px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.main-product__term {
  float: left;
}

.main-product__definition {
  text-align: right;
}

.main-product__button {
  padding: 10px 0 10px 0;
  font-size: 16px;
  line-height: 20px;

  border: none;
}
