// .main-container {}

.main-container--inner {
  position: relative;

  margin: 0 20px;
  padding-top: 27px;

  &:before {
    position: absolute;
    top: 0px;
    left: -20px;
    right: 0;

    width: 320px;
    height: 1px;

    background-color: #ebebeb;

    content: "";
  }

  @media (min-width: @tablet-width) {
    margin: 0 30px;
    padding-top: 65px;

    &:before {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0 110px;
    padding-top: 77px;
  }
}

.main-container__additional-gift-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}
