// .main-container {}

.main-container--inner {
  margin: 0 20px;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    margin: 0 30px;
    padding-top: 65px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 110px;
    padding-top: 77px;
  }
}

.main-container__additional-gift-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}
