.main-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.main-footer__contacts-container {
  width: 100%;
  background-color: #ffffff;
}

.main-footer__contacts {
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 26px 20px;
  box-sizing: border-box;

  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 70px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 95px;
    left: 50%;

    width: 565px;
    padding: 60px 80px;

    transform: translate(-607px, 0);
  }
}

.main-footer__contacts--inner {
  background-color: #f2f2f2;

  @media (min-width: @desktop-width) {
    background-color: #ffffff;
  }
}

.main-footer__contacts-text {
  padding: 0;
  margin: 0;
  width: 139px;
  margin-left: -2px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: @tablet-width) {
    width: 172px;
    margin-left: 0;

    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -3px;
  }
}

.main-footer__contacts-address {
  padding: 0;
  margin: 0;
  width: 139px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;

  @media (min-width: @tablet-width) {
    width: 160px;
    margin-top: -3px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    margin-right: -2px;
  }
}

.main-footer__contacts-address-street {
  @media (min-width: @tablet-width) {
    display: block;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 19px;
  }
}

.main-footer__map {
  width: 100%;
  min-height: 362px;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    height: 400px;
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 57px;
  }
}

.main-footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 92.2%;
    max-width: 900px;
    margin-bottom: 55px;
    box-sizing: border-box;

    @media (min-width: @desktop-width) {
      width: 84.7%;
      max-width: 1300px;
      margin-bottom: 58px;
    }
  }
}

.main-footer__logo {
  position: relative;
  margin-bottom: 52px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.main-footer__logo-text {
  display: block;

  @media (min-width: @tablet-width) {
    margin-top: 1px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.main-footer__social {
  @media (min-width: @tablet-width) {
    margin-top: -2px;
    margin-left: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -6px;
    margin-left: 28px;
  }
}

// .main-footer__copiright {}
