.price-indicator {
  width: 100%;

  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    width: 174px;
    margin-top: -1px;
    margin-left: auto;
    margin-right: 3px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    display: block;

    margin-left: 0;
    width: 436px;

    text-align: left;
  }
}

.price-indicator__text {
  @media (min-width: @tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-right: 63px;
  }
}

.price-indicator__cost {
  // для pixel perfect
  margin-right: -1px;
}
