.products-additional {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 86px;
  }
}

.products-additional__title {
  display: inline-block;

  padding: 0 22px 0 20px;
  margin: 0;
  margin-bottom: 36px;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    padding: 0 36px;
    margin-left: 30px;
    margin-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 35px 0 40px;
    margin-bottom: 81px;
    margin-left: 70px;
  }
}

.products-additional__list {
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 896px;
    margin-left: 110px;
  }
}

.products-additional__item {
  padding-top: 13px;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    padding: 26px 38px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 15px 0 17px 0;
    margin: 0;

    &:first-child {
      padding-top: 15px;
    }
  }
}
