.programs-card {
  padding: 30px 20px 18px 20px;
  background-color: #f2f2f2;
}

.programs-card__title {
  margin: 0;
  padding: 0;
  padding-left: 71px;
  margin-bottom: 29px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.programs-card__description {
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}

.programs-card__link {
  padding-right: 49px;

  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

// .programs-card--slim {}

// .programs-card--pro {}
