@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-null {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.button {
  display: flex;
  justify-content: center;
  padding: 7px 44px;
  box-sizing: border-box;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
  border: none;
}
.button--more {
  color: #444444;
  background-color: #f2f2f2;
}
.base-title {
  padding: 0;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}
.base-title--index-header-mobile {
  text-align: center;
  color: #ffffff;
}
.base-title--index-mobile {
  line-height: 40px;
}
.base-title--catalog {
  padding-top: 27px;
  margin-bottom: 41px;
}
.base-title--form {
  padding-top: 27px;
}
.base-title--inner {
  font-size: 24px;
  line-height: 26px;
}
.base-title--inner-catalog {
  font-size: 24px;
  line-height: 24px;
}
.content-text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}
.additional-product__title {
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}
.additional-product__term {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  float: left;
}
.additional-product__definition {
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  text-align: right;
}
.additional-product__button {
  padding: 10px 0 10px 0;
  font-size: 16px;
  line-height: 20px;
  border: none;
}
.advantages {
  margin: 0 20px 49px 20px;
}
.advantages__title {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}
.advantages__item {
  padding-left: 80px;
}
.advantages__item:not(:last-child) {
  margin-bottom: 20px;
}
.copyright {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 22px;
  box-sizing: border-box;
}
.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.copyright__text {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}
.copyright__icon {
  display: block;
  fill: #666666;
}
.example {
  padding: 25px 20px 40px 20px;
  background-color: #eaeaea;
}
.example__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.example__text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.form-data {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  border: none;
}
.form-data__title {
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
}
.form-data__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}
.form-data__text--radiobutton {
  color: #222222;
}
.form-data__text--checkbox {
  color: #000000;
}
.form-data__field {
  border: 1px solid #e7e7e7;
}
.form-data__field--comment {
  margin: 0;
  padding: 9px 12px;
  width: 100%;
  box-sizing: border-box;
}
.form-selection-program {
  margin-bottom: 32px;
}
.form-selection-program__button {
  margin-bottom: 21px;
}
.form-selection-program__note {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.gift {
  padding: 187px 60px 43px 60px;
  margin-bottom: 35px;
  background-color: #68b738;
  background-image: url("../img/catalog/gift-mobile.jpg");
  background-repeat: no-repeat;
}
.gift__text {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
.indicator {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  padding: 16px 0;
  margin-bottom: 34px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}
.indicator__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
.indicator__description {
  position: absolute;
  bottom: -14px;
  padding: 0;
  margin: 0;
  width: 77px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
  text-transform: lowercase;
  background-color: #eaeaea;
}
.main-container--inner {
  margin: 0 20px;
  padding-top: 27px;
}
.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}
.main-footer__contacts {
  display: flex;
  padding: 26px 20px;
  background-color: #ffffff;
}
.main-footer__contacts--inner {
  background-color: #f2f2f2;
}
.main-footer__contacts-text {
  padding: 0;
  margin: 0;
  width: 50%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}
.main-footer__contacts-address {
  padding: 0;
  margin: 0;
  width: 50%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
.main-footer__map {
  width: 100%;
  min-height: 362px;
  margin-bottom: 39px;
}
.main-footer__logo {
  margin-bottom: 52px;
}
.main-footer__logo-text {
  display: block;
}
.main-header__logo {
  text-decoration: none;
}
.main-nav__list {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
.main-nav__item {
  display: flex;
  justify-content: center;
  padding: 22px 50px 24px;
}
.main-nav__link {
  color: #000000;
  text-decoration: none;
}
.main-product__title {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}
.main-product__list {
  width: 142px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.main-product__term {
  float: left;
}
.main-product__definition {
  text-align: right;
}
.main-product__button {
  padding: 10px 0 10px 0;
  font-size: 16px;
  line-height: 20px;
  border: none;
}
.main-title-form {
  margin-bottom: 39px;
}
.main-title-form__title {
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
}
.main-title-form__slogan {
  padding: 0;
  margin: 0;
  padding-right: 50px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.main-title {
  position: relative;
  padding: 27px 16px 164px;
  margin-bottom: 135px;
  color: #ffffff;
  background-image: url("../img/index/index-background-image-mobile.jpg");
  background-repeat: no-repeat;
  background-color: #68b738;
}
.main-title__title {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}
.main-title__slogan {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.main-title__image {
  position: absolute;
  top: 167px;
}
.page__body {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  min-height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}
.price-indicator {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.product-more {
  padding-top: 118px;
}
.product-more__title {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  text-align: center;
}
.product-more__text {
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
}
.products-additional {
  margin-bottom: 35px;
}
.products-additional__title {
  padding: 0;
  margin: 0;
  margin-bottom: 36px;
}
.products-additional__item {
  padding: 13px 0 19px 0;
}
.products-main__item {
  margin-bottom: 33px;
  padding-top: 11px;
}
.programs {
  margin: 0 20px;
}
.programs__link {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
.programs-card {
  margin-bottom: 20px;
  padding: 30px 20px 18px 20px;
  background-color: #f2f2f2;
}
.programs-card__title {
  margin: 0;
  padding: 0;
  padding-left: 71px;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}
.programs-card__description {
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}
.programs-card__link {
  padding-right: 49px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.slider__toggle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.social__list {
  display: flex;
  justify-content: space-between;
  width: 132px;
  margin-bottom: 43px;
}
.social__icon {
  display: block;
  fill: #666666;
}
/*# sourceMappingURL=style.css.map */
