.owner-data {
  padding: 0;
  margin: 0;
  margin-bottom: 23px;

  border: none;
}

.owner-data__legend {
  padding: 0;
  margin: 0;
}

.owner-data__title {
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
}

// .owner-data__email {}

// .owner-data__tel {}
