.additional-product {}

.additional-product__title {
  padding: 0;
  margin: 0;
  margin-bottom: 13px;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.additional-product__description {}

.additional-product__list {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.additional-product__term {
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  float: left;
}

.additional-product__definition {
  margin-bottom: 13px;

  font-size: 14px;
  line-height: 14px;
  color: #444444;
  text-align: right;
}

.additional-product__button {
  padding: 10px 0 10px 0;
  font-size: 16px;
  line-height: 20px;

  border: none;
}
