.contacts {
  display: flex;

  width: 100%;
  padding: 0 20px;
  margin-bottom: 26px;
  box-sizing: border-box;
}

.contacts__text {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  padding: 0;
  margin: 0;

  font-family: arial;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
