.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f2f2f2;

  &__wrapper-contacts {
    background-color: #ffffff;
  }

  &__wrapper-contacts--inner {
    padding-top: 26px;
    background-color: #f2f2f2;
  }

  &__contacts {}

  &__map {
    width: 100%;
    min-height: 362px;
    margin-bottom: 39px;
  }

  &__logo {
    margin-bottom: 52px;
  }

  &__social {}

  &__copiright {}
}
